<h1 class="title">@ViewBag.Trail.TrailName</h1>
<a href="/">Go Back</a>

<h3>Description</h3>
<p>@ViewBag.Trail.Description</p>

<h3>Trail Length</h3>
<p>@ViewBag.Trail.TrailLength</p>

<h3>Elevation Change</h3>
<p>@ViewBag.Trail.ElevationGain</p>

<h3>Lattitude &amp; Longitude</h3>
<p>@ViewBag.Trail.Lattitude - @ViewBag.Trail.Longitude</p>